
#main-content {
    width: 95%;
    max-width: 1000px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 15px;
  }
  
  
  .card {
    display: flex; 
    flex-direction: column;
    margin: 5px;
    
  }
  
  .btn {
    margin-top: auto;
  }
  

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

input {
    margin: 5px;
}