
#main-content {
    width: 95%;
    max-width: 1000px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 15px;
  }
  
  
  .card {
    display: flex; 
    flex-direction: column;
    margin: 5px;
    
  }
  
  .btn {
    margin-top: auto;
  }
  

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

input {
    margin: 5px;
}

#myDiv{
  height: 30px;
  width: 20%;
  background: black;
  margin: 20px auto;
  border-radius: 5px;
  position: relative;
}

.rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    left: 0px;
    
  }
  50% {
    background-color: green;
    left: 50px;
    
  }
  100% {
    background-color: yellow;
    left: 0px;
    
  }
}