
#main-content {
    width: 95%;
    max-width: 1000px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 15px;
  }
  
  
  .card {
    display: flex; 
    flex-direction: column;
    margin: 5px;
    
  }
  
  .btn {
    margin-top: auto;
  }
  

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

input {
    margin: 5px;
}



#myDiv{
  display: block;
  height: 30px;
  width: 20%;
  background: blue;
  margin: 5px auto;
  border-radius: 5px;
  position: relative;
  float: top;
}

.rect {
  animation-name: rainbow;
  animation-duration: 5s;
}
.clear {
  clear: both;
}
@keyframes rainbow {
  0% {
    background-color: blue;
    left: 0px;
    
  }

  25% {
    background-color: lightblue;
    left: -50px;
  }
  50% {
    background-color: lightcyan;
    left: -100px;
    
  }

  75% {
    background-color: darkblue;
    left: 50px;
  }
  100% {
    background-color: black;
    left: 100px;
    
  }
}